

.ac-textBlock > p {
    margin-top: 0px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0px;
}

.ac-textBlock > p {
    margin-top: 0px;
    width: 100%;
    margin-bottom: 0px;
}

.ac-pushButton.style-default > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.ac-image {
    max-height: 100%;
    min-width: 0px;
    width: 100%;
}

.ac-horizontal-separator {
    height: 8px;
    overflow: hidden;
    margin-right: 0px;
    margin-left: 0px;
    flex: 0 0 auto;
}

.ac-textBlock {
    overflow: hidden;
    font-family: Calibri, "Helvetica Neue", Arial, sans-serif;
    font-size: 17px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-align: left;
    line-height: 22.61px;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
    flex: 0 0 auto;
}

.ac-actionSet {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.ac-pushButton.style-default {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 auto;
}

.ac-container > div {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    flex: 0 0 auto;
    max-width: 100%;
}
.div4-main{
    width: 100%;
}

.div4{
    margin: 0 auto;
}

.ac-textBlock > p {
    margin-top: 0px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0px;
}

.ac-textBlock > p {
    margin-top: 0px;
    width: 100%;
    margin-bottom: 0px;
}

.ac-pushButton.style-default > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ac-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 0px;
    margin: 0px;
}

.ac-image {
    max-height: 100%;
    min-width: 0px;
    width: 100%;
}

.ac-horizontal-separator {
    height: 8px;
    overflow: hidden;
    margin-right: 0px;
    margin-left: 0px;
    flex: 0 0 auto;
}

.ac-textBlock {
    overflow: hidden;
    font-family: Calibri, "Helvetica Neue", Arial, sans-serif;
    font-size: 17px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-align: left;
    line-height: 22.61px;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
    flex: 0 0 auto;
}

.ac-actionSet {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.ac-pushButton.style-default {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 auto;
}

.ac-pushButton.style-default > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.div1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    flex: 0 0 auto;
}

.ac-image {
    max-height: 100%;
    min-width: 0px;
    width: 100%;
}

.div2 {
    height: 8px;
    overflow: hidden;
    margin-right: 0px;
    margin-left: 0px;
    flex: 0 0 auto;
}

.ac-textBlock {
    overflow: hidden;
    font-family: Calibri, "Helvetica Neue", Arial, sans-serif;
    font-size: 17px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-align: left;
    line-height: 22.61px;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
    flex: 0 0 auto;
}

.p1 {
    margin-top: 0px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0px;
}

.ac-horizontal-separator {
    height: 8px;
    overflow: hidden;
    margin-right: 0px;
    margin-left: 0px;
    flex: 0 0 auto;
}

.p2 {
    margin-top: 0px;
    width: 100%;
    margin-bottom: 0px;
}

.div3 {
}

.div4 {
    overflow: hidden;
}

.ac-actionSet {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.ac-pushButton.style-default {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 auto;
}

.div5 {
    margin-top: 0px;
}


.ac-textBlock > p {
    margin-top: 0px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0px;
}

.ac-textBlock > p {
    margin-top: 0px;
    width: 100%;
    margin-bottom: 0px;
}

.ac-pushButton.style-default > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ac-container.ac-adaptiveCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 12px;
    margin: 12px;
    border: 1px solid gray;
}
.ac-container.ac-adaptiveCard.custom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 12px;
    margin: 12px;
    border: 1px solid gray;
    width: 100%;
}
.btn-list{
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
}


.ac-image {
    max-height: 100%;
    min-width: 0px;
    width: 100%;
}

.ac-horizontal-separator {
    height: 8px;
    overflow: hidden;
    margin-right: 0px;
    margin-left: 0px;
    flex: 0 0 auto;
}

.ac-textBlock {
    overflow: hidden;
    font-family: Calibri, "Helvetica Neue", Arial, sans-serif;
    font-size: 17px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-align: left;
    line-height: 22.61px;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
    flex: 0 0 auto;
}

.ac-actionSet {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.ac-pushButton.style-default {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 auto;
}

.ac-pushButton.style-default > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.div1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    flex: 0 0 auto;
}

.ac-image {
    max-height: 100%;
    min-width: 0px;
    width: 100%;
}

.div2 {
    height: 8px;
    overflow: hidden;
    margin-right: 0px;
    margin-left: 0px;
    flex: 0 0 auto;
}

.ac-textBlock {
    overflow: hidden;
    font-family: Calibri, "Helvetica Neue", Arial, sans-serif;
    font-size: 17px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-align: left;
    line-height: 22.61px;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
    flex: 0 0 auto;
}

.p1 {
    margin-top: 0px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0px;
}

.ac-horizontal-separator {
    height: 8px;
    overflow: hidden;
    margin-right: 0px;
    margin-left: 0px;
    flex: 0 0 auto;
}

.p2 {
    margin-top: 0px;
    width: 100%;
    margin-bottom: 0px;
}

.div3 {
}

.div4 {
    overflow: hidden;
}

.ac-actionSet {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.ac-pushButton.style-default {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 auto;
}

.div5 {
    margin-top: 0px;
}



.div1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    flex: 0 0 auto;
}

.ac-image {
    max-height: 100%;
    min-width: 0px;
    width: 100%;
}

.div2 {
    height: 8px;
    overflow: hidden;
    margin-right: 0px;
    margin-left: 0px;
    flex: 0 0 auto;
}

.ac-textBlock {
    overflow: hidden;
    font-family: Calibri, "Helvetica Neue", Arial, sans-serif;
    font-size: 17px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-align: left;
    line-height: 22.61px;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
    flex: 0 0 auto;
}

.p1 {
    margin-top: 0px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0px;
}

.ac-horizontal-separator {
    height: 8px;
    overflow: hidden;
    margin-right: 0px;
    margin-left: 0px;
    flex: 0 0 auto;
}

.p2 {
    margin-top: 0px;
    width: 100%;
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: normal;
}

.div3 {
}

.div4 {
    overflow: hidden;
}

.ac-actionSet {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.ac-actionSet > .ac-pushButton {
    background-color: white;
    color: rgb(0, 99, 177);
    font-weight: 600;
    -webkit-appearance: none;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    color: white;
    border-radius: 30px;
    background: #337ab7;
}
.ac-pushButton.style-default {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 auto;
}

.div5 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.div6 {
    margin-top: 0px;
}
.slick-next:before, .slick-prev:before {
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: black;
}

.slick-next, .slick-prev {
    width: 40px;
    height: 20px;
}
.slick-next:before, .slick-prev:before {
    font-size: 40px;
}